* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  color: red;
}
.float {
  background-color: hotpink;
  padding: 0.5rem;
  overflow: auto;
}

.float > div {
  background-color: green;
  margin: 0.1rem;
  float: left;
}
.float > div:last-child {
  float: none;
  clear: both;
}
